body {
    font-family: cursive;
    line-height: 3;
    margin: 0;
    padding: 0;
    /* setting text specs for all */

}

header {
    background: #536878;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    text-shadow: 2px 2px black;
    /* header stuff and shadow for extra fun */
    
}
nav ul{
    padding: 0;
}

nav ul li {
    display: grid;
    margin: 0 px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


main {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background: #708090
}

.Home{
    color: #fff;
    text-shadow: 2px 2px black;
}
.Shadow{
    text-shadow: 2px 2px black;
}


footer {
    text-align: center;
    padding: 275px 0;
    background: #536878;
    color: #fff;
    position: relative;
    bottom: 1;
    width: 100%;
    /* footer to fill rest of website space */
    
}

/* rest is form stuff to make form look clean */
form {
    margin-top: 2px
}

form label {
    display: grid;
    margin: 0 0 0;
}

form input[type="text"],
form input[type="email"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
}

form input[type="submit"] {
    background: rgb(70, 92, 105);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #36454f;
}
